# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/multineil-server/build.gradle.kts
/multineil-server/src/minecraft
/paper-server
/multineil-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
